/* 
    Calendar
    Created on : 29.01.2016, 17:46:32
    Author     : anatol
*/
@charset "utf-8";
@import "_constants.scss";

/* Calendar
   -----------------------------------------------------------------------------------------------*/
.calendar
{
    > .prev,
    > .next,
    > .level,
    > .year
    {
        display: inline-block;
        text-align: center;
        cursor: default;
    }
    > table
    {
        border-collapse: collapse;
    }
    > .level,
    > .prev,
    > .next,
    > table > tr > th,
    > table > tr > td
    {
        @include clickable;
        border-radius: $borderRadius;
        font-weight: normal;
        font-size: 1em;
        text-align: center;
        position: relative;
    }
    > .prev:hover,
        > .next:hover,
        > .level.days:hover,
        > .level.months:hover,
        > table > tr > td:hover
        {
        box-shadow: 0px 0px 1px rgba(0,0,0,0.4), 0px 1px 1px rgba(0,0,0,0.4);
    }
    > .prev:active,
        > .next:active,
        > .level.days:active,
        > .level.months:active,
        > table > tr > td:active
        {
        box-shadow: 0px 0px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2);
    }
    > table
    {
        > tr > td
        {
            &.selected
            {
                font-weight: bolder;
                background-color: rgba(0, 0, 0, 0.1);
            }
            &.current:before
                {
                content: " ";
                display: block;
                position: absolute;
                border-radius: $borderRadius;
                border: gray dotted 1px;
                box-sizing: border-box;
            }
            &.prev,
            &.next
            {
                color: silver;
            }
        }
    }
}
/* Calendar small
-----------------------------------------------------------------------------------------------*/
.calendar.small
{
    $width : 140px;
    $p : 2px;
    $dayWidth : $width / 7;
    $dayHeight : $dayWidth;
    $dayDH : -1px;
    $monthWidth : $width / 4;
    $monthHeight : $monthWidth;
    $monthDH : -8px;
    $yearWidth : $width / 4;
    $yearHeight : $yearWidth;
    $yearDH : -8px;

    width: $width; 

    > .prev,
    > .next,
    > .level,
    > .year
    {
        padding: $p 0px;
    }
    > .level
    {
        width: $width - $dayWidth * 2;
    }
    > .prev,
    > .next
    {
        width: $dayWidth;
    }
    > table
    {
        &.days
        {
            > tr > th
            {
                width: $dayWidth;
                height: $dayHeight;
            }
            > tr > td
            {
                width: $dayWidth;
                height: $dayHeight;
                &.current:before
                    {
                    width: $dayWidth;
                    height: $dayHeight;
                    margin-top: $dayDH;
                }
            }
        }
        &.months
        {
            margin-top: $dayHeight;
            > tr > td
            {
                width: $monthWidth;
                height: $monthHeight;
                &.current:before
                    {
                    width: $monthWidth;
                    height: $monthHeight;
                    margin-top: $monthDH;
                }
            }
        }
        &.years > tr > td.current:before
            {
            width: $yearWidth;
            height: $yearHeight;
            margin-top: $yearDH;
        }
    }
}


/* Calendar medium
-----------------------------------------------------------------------------------------------*/
.calendar,
.calendar.medium
{
    $width : 168px;
    $p : 3px;
    $dayWidth : $width / 7;
    $dayHeight : $dayWidth;
    $dayDH : -3px;
    $monthWidth : $width / 4;
    $monthHeight : $monthWidth;
    $monthDH : -12px;
    $yearWidth : $width / 4;
    $yearHeight : $yearWidth;
    $yearDH : -12px;

    width: $width; 

    > .prev,
    > .next,
    > .level,
    > .year
    {
        padding: $p 0px;
    }
    > .level
    {
        width: $width - $dayWidth * 2;
    }
    > .prev,
    > .next
    {
        width: $dayWidth;
    }
    > table
    {
        &.days
        {
            > tr > th
            {
                width: $dayWidth;
                height: $dayHeight;
            }
            > tr > td
            {
                width: $dayWidth;
                height: $dayHeight;
                &.current:before
                    {
                    width: $dayWidth;
                    height: $dayHeight;
                    margin-top: $dayDH;
                }
            }
        }
        &.months
        {
            margin-top: $dayHeight;
            > tr > td
            {
                width: $monthWidth;
                height: $monthHeight;
                &.current:before
                    {
                    width: $monthWidth;
                    height: $monthHeight;
                    margin-top: $monthDH;
                }
            }
        }
        &.years > tr > td.current:before
            {
            width: $yearWidth;
            height: $yearHeight;
            margin-top: $yearDH;
        }
    }
}

/* Calendar large
-----------------------------------------------------------------------------------------------*/

.calendar.large
{
    $width : 196px;
    $p : 5px;
    $dayWidth : $width / 7;
    $dayHeight : $dayWidth;
    $dayDH : -5px;
    $monthWidth : $width / 4;
    $monthHeight : $monthWidth;
    $monthDH : -15px;
    $yearWidth : $width / 4;
    $yearHeight : $yearWidth;
    $yearDH : -15px;

    width: $width; 

    > .prev,
    > .next,
    > .level,
    > .year
    {
        padding: $p 0px;
    }
    > .level
    {
        width: $width - $dayWidth * 2;
    }
    > .prev,
    > .next
    {
        width: $dayWidth;
    }
    > table
    {
        &.days
        {
            > tr > th
            {
                width: $dayWidth;
                height: $dayHeight;
            }
            > tr > td
            {
                width: $dayWidth;
                height: $dayHeight;
                &.current:before
                    {
                    width: $dayWidth;
                    height: $dayHeight;
                    margin-top: $dayDH;
                }
            }
        }
        &.months
        {
            margin-top: $dayHeight;
            > tr > td
            {
                width: $monthWidth;
                height: $monthHeight;
                &.current:before
                    {
                    width: $monthWidth;
                    height: $monthHeight;
                    margin-top: $monthDH;
                }
            }
        }
        &.years > tr > td.current:before
            {
            width: $yearWidth;
            height: $yearHeight;
            margin-top: $yearDH;
        }
    }
}
