/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 11:22:10
    Author     : anatol
*/


/* Button
-----------------------------------------------------------------------------------------------*/

.buttons > .button
{
 display: inline-block;  
 margin: 5px 0px 5px 5px;
}

.button
{
 /* display: inline-block; */
 /* vertical-align: middle; */
 padding: 5px 10px;
 /* border: 1px solid #CECECE; */
 border-radius: 3px;
 font-size: 1em;
 text-align: center;
 text-decoration: blink;
 font-weight: bold;
 cursor: default;
 box-shadow: 0px 0px 1px rgba(0,0,0,0.2), 0px 1px 2px rgba(0,0,0,0.2);
 color: #363696;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.button.selected
{
 box-shadow: 0px 0px 1px rgba(0,0,0,0.2) inset, 0px 1px 2px rgba(0,0,0,0.2) inset;
 background-color: rgba(255,255,255,0.5);
}
.button.large
{
 padding: 10px 20px;
 border-radius: 3px;
}
.button.medium
{
 padding: 5px 10px;
 border-radius: 3px;
}
.button.small
{
 padding: 0px 10px;
 border-radius: 3px;
}
.button:hover
{
 border-color: #C3C3C3;
 color: #00008B;
 box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 1px 2px rgba(0,0,0,0.3);
}
.button.selected:hover
{
 box-shadow: 0px 0px 2px rgba(0,0,0,0.2) inset, 0px 1px 2px rgba(0,0,0,0.2) inset;
}
.button:active
{
 box-shadow: 0px 0px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2);
}
.button.selected:active
{
 box-shadow: 0px 0px 3px rgba(0,0,0,0.2) inset, 0px 1px 3px rgba(0,0,0,0.2) inset;
}
.button.success
{
 background-color: #0AA75F;
 color: #FFF;
}
.button.warning
{
 background-color: #D22F2F;
 color: #FFF;
}

/* Input, Select
-----------------------------------------------------------------------------------------------*/
input,
select
{
 font-family: inherit;
 font-size: 1em;
 box-sizing: border-box;
 padding: 6px 10px;
 border: #C3C3C3 solid 1px;
 border-radius: 3px;
}
select
{
 padding: 5px 8px;
 background: url(new_arrow.png) no-repeat right #FFF;
}
input:focus,
select:focus
{
 outline: rgba(0, 127, 255, 0.7) auto 5px; 
 outline-offset: -2px;
}
input.invalid,
select.invalid
{
 outline: rgba(255, 0, 0, 1) auto 5px;
 outline-offset: -2px;
}
input.large,
select.large
{
 padding: 11px 20px;
 border-radius: 3px;
}
input.medium,
select.medium
{
 padding: 6px 10px;
 border-radius: 3px;
}
input.small,
select.small
{
 padding: 2px 5px;
 border-radius: 3px;
}

/* Textarea
-----------------------------------------------------------------------------------------------*/
textarea
{
 font-family: inherit;
 font-size: 1em;
 box-sizing: border-box;
 padding: 6px 10px;
 border: #C3C3C3 solid 1px;
 border-radius: 3px; 
}
textarea:focus
{
 outline: rgba(0, 127, 255, 0.7) auto 5px; 
 outline-offset: -2px;
}
textarea.invalid
{
 outline: rgba(255, 0, 0, 0.7) auto 5px; 
 outline-offset: -2px;
}

/* Calendar
-----------------------------------------------------------------------------------------------*/
.calendar
{
 width: 140px; 
}
.calendar > .prev,
.calendar > .next,
.calendar > .level,
.calendar > .year
{
 display: inline-block;
 text-align: center;
 padding: 2px 0px;
 cursor: default;
}
.calendar > .level
{
 width: 100px;
}
.calendar > .prev,
.calendar > .next
{
 width: 20px;
}
.calendar > table
{
 border-collapse: collapse;
}
.calendar > .level,
.calendar > .prev,
.calendar > .next,
.calendar > table > tr > th,
.calendar > table > tr > td
{
 border-radius: 3px;
 font-weight: normal;
 font-size: 1em;
 text-align: center;
 cursor: default;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.calendar > table.days > tr > th,
.calendar > table.days > tr > td
{
 width: 20px;
 height: 20px;
}
.calendar > table.months
{
 margin-top: 20px;
}
.calendar > table.months > tr > td
{
 width: 35px;
 height: 35px;

}
.calendar > .prev:hover,
.calendar > .next:hover,
.calendar > .level.days:hover,
.calendar > .level.months:hover,
.calendar > table > tr > td:hover
{
 /* background-color: rgba(0, 0, 0, 0.15); */
 box-shadow: 0px 0px 1px rgba(0,0,0,0.4), 0px 1px 1px rgba(0,0,0,0.4);
}
.calendar > .prev:active,
.calendar > .next:active,
.calendar > .level.days:active,
.calendar > .level.months:active,
.calendar > table > tr > td:active
{
 /* background-color: rgba(0, 0, 0, 0.08); */
 box-shadow: 0px 0px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2);
}
.calendar > table > tr > td.selected
{
 font-weight: bolder;
 background-color: rgba(0, 0, 0, 0.1);
}
.calendar > table > tr > td.current:before
{
 content: " ";
 display: block;
 position: absolute;
 border-radius: 3px;
 border: gray dotted 1px;
 box-sizing: border-box;
}
.calendar > table.days > tr > td.current:before
{
 width: 20px;
 height: 20px;
 margin-top: -1px;
}
.calendar > table.months > tr > td.current:before,
.calendar > table.years > tr > td.current:before
{
 width: 35px;
 height: 35px;
 margin-top: -8px;
}
.calendar > table > tr > td.prev,
.calendar > table > tr > td.next
{
 color: silver;
}

/* Calendar medium
-----------------------------------------------------------------------------------------------*/

.calendar.medium
{
 width: 168px; 
}
.calendar.medium > .prev,
.calendar.medium > .next,
.calendar.medium > .level,
.calendar.medium > .year
{
 padding: 3px 0px;
}
.calendar.medium > .level
{
 width: 120px;
}
.calendar.medium > .prev,
.calendar.medium > .next
{
 width: 24px;
}
.calendar.medium > table.days > tr > th,
.calendar.medium > table.days > tr > td
{
 width: 24px;
 height: 24px;
}
.calendar.medium > table.months
{
 margin-top: 24px;
}
.calendar.medium > table.months > tr > td
{
 width: 42px;
 height: 42px;
}
.calendar.medium > table.days > tr > td.current:before
{
 width: 24px;
 height: 24px;
 margin-top: -3px;
}
.calendar.medium > table.months > tr > td.current:before,
.calendar.medium > table.years > tr > td.current:before
{
 width: 42px;
 height: 42px;
 margin-top: -12px;
}

/* Calendar large
-----------------------------------------------------------------------------------------------*/

.calendar.large
{
 width: 196px; 
}
.calendar.large > .prev,
.calendar.large > .next,
.calendar.large > .level,
.calendar.large > .year
{
 padding: 5px 0px;
}
.calendar.large > .level
{
 width: 140px;
}
.calendar.large > .prev,
.calendar.large > .next
{
 width: 28px;
}
.calendar.large > table.days > tr > th,
.calendar.large > table.days > tr > td
{
 width: 28px;
 height: 28px; 
}
.calendar.large > table.months
{
 margin-top: 28px;
}
.calendar.large > table.months > tr > td
{
 width: 49px;
 height: 49px;
}
.calendar.large > table.days > tr > td.current:before
{
 width: 28px;
 height: 28px;
 margin-top: -5px;
}
.calendar.large > table.months > tr > td.current:before,
.calendar.large > table.years > tr > td.current:before
{
 width: 49px;
 height: 49px;
 margin-top: -15px;
}

/* XY
-----------------------------------------------------------------------------------------------*/
.xy
{
 cursor: default;
 /* border: #BBB solid 1px; */
 /* border-radius: 3px; */
 /* padding: 10px; */
}
.xy > .area
{
 border: rgba(127, 127, 127, 0.1) solid 1px;
 cursor: default;
 width: 200px;
 height: 200px;
 overflow: hidden;
}
.xy > .area > .x
{
 border-right: #BBB solid 1px;
}
.xy > .area > .y
{
 border-bottom: #BBB solid 1px;
}
.xy > .area > .move
{
 cursor: default;
 /*width: 15px;*/
 /*height: 15px;*/
 border: #BBB solid 1px;
 border-radius: 2px;
 /* background-color: rgba(0, 0, 0, 0.1); */
}
.xy > .area > .move:hover
{
 /* background-color: rgba(0, 0, 0, 0.15); */
 /* box-shadow: 0px 0px 1px rgba(0,0,0,0.4), 0px 1px 1px rgba(0,0,0,0.4); */
}
.xy > .area > .move:active
{
 /* background-color: rgba(0, 0, 0, 0.08); */
 /* box-shadow: 0px 0px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2); */
}