/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 11:22:10
    Author     : anatol
*/
* 
{
 margin: 0;
 padding: 0;
}
/*html 
{
  height: 100%;
}*/
/*---------------------------*/
body
{
 font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
 background-color: #EEE; 
 color: #222; 
}
header
{
 margin: 0px 0px 0px 0px;
 background-color: #BBB;
 color: #000;
 height: 100px;
}
section
{
 margin: -20px 20px 0px 200px;
 /* background-color: rgba(255, 255, 255, 1); */
 color: #222;
 /* padding: 15px; */
}
footer
{

 position: fixed;

 bottom: 0px;

 left: 0px;

 width: 100%;

 text-align: center;

 color: rgba(0, 0, 0, 0.5);
}
h1
{
 padding: 15px; 
}
h2
{
 padding: 12px; 
}



menu.absolute
{
 position: absolute;
}

menu.fixed
{
 position: fixed;
 top: 0px;
 right: 0px;
 /*top: 20px;*/
 /*right: 20px;*/
}
menu > *
{
 display: inline-block;
 vertical-align: middle;
 /*list-style-type: none;*/
 background-color: rgba(0, 0, 0, 0.1);
 color: #222;
 /* text-decoration: none; */
 text-align: center;
 font-weight: bold;
}
menu > *:hover
{
 background-color: rgba(0, 0, 0, 0.15);
}
menu > *:active
{
 background-color: rgba(0, 0, 0, 0.05);
}
menu > a
{
 border-bottom: 3px solid #40FF00;
 //height: 40px;
 padding: 10px 20px;
}
menu > a:hover
{
 border-bottom: 3px solid #3ADF00;
}
menu > a:active
{
 border-bottom: 3px solid #40FF00;
}


menu.circle  > *
{
 margin: 15px 20px 0px -15px;
 padding: 0px;
 width: 40px;
 height: 40px;
 line-height: 38px;
 border-radius: 40px;
 border: 3px solid #FFF;
 color: #FFF;
 background-color: rgba(24, 24, 122, 0.6);
}
menu.circle > *:hover
{
 border: 3px solid #FFF;
 color: #FFF;
 background-color: rgba(24, 24, 122, 0.7);
}
menu.circle > *:active
{
 margin: 16px 21px 1px -14px;
 border: 2px solid #FFF;
 color: #FFF;
 /*background-color: rgba(24, 24, 122, 0.5);*/
}







.sectionMenu
{

 background-color: #FFF;

 margin-bottom: 1px;
}
.sectionMenu > *
{
 display: inline-block;
 padding: 10px 20px;
}
.sectionMenu > *:hover
{
 background-color: rgba(0, 0, 0, 0.05);
 border-color: #00008B;
}
.sectionMenu > *.selected
{
 background-color: rgba(0, 0, 0, 0.1);
}
.sectionMenu > *:active
{
 background-color: rgba(0, 0, 0, 0.02);
}
.sectionMenu > *.selected:hover
{
 background-color: rgba(0, 0, 0, 0.15);
}
.sectionMenu > *.selected:active
{
 background-color: rgba(0, 0, 0, 0.08);
}


.sections
{
 display: block;
}
.sections > .section
{
 position: relative;
 /* padding-right: 40px;*/
 /* display: inline-block; */
 /* border-bottom: 3px solid #363696; */
 //border: 1px solid #363696;
 /*padding: 10px 20px;*/
 /*cursor: pointer;*/
}
.sections > .section > .close
{
 position: absolute;
 right: 8px;
 top: 8px;
 height: 20px;
 width: 20px;
 text-align: center;
 border-radius: 20px;
 /* border: 1px solid #CECECE; */
 box-shadow: 0px 0px 5px rgba(0,0,0,0.1), 0px 1px 3px rgba(0,0,0,0.1);
}

.scrollarea
{
 max-height: 300px;
 /* margin: 5px; */
 /* box-shadow: 0px 0px 5px rgba(0,0,0,0.2), 0px 1px 3px rgba(0,0,0,0.2); */
}
.scrollarea > .sections > .section
{
 min-height: 259px;
 margin-bottom: 1px;
 background-color: #FFF;
 padding: 20px 20px;
}


.resultBlock
{
 padding: 10px 0px;
}
.resultBlock > .circle
{
 display: inline-block;
 width: 40px;
 height: 40px;
 border: 3px solid #E2E2E2;
 border-radius: 40px;
 text-align: center;
 font-weight: bold;
 line-height: 39px;
 margin: 3px;
}


