/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 11:22:10
    Author     : anatol
*/

@charset "utf-8";
@import "_constants.scss";
@import "button.scss"; 
@import "input.scss"; 
@import "progress.scss"; 
@import "scroll.scss"; 
@import "range.scss"; 
@import "calendar.scss"; 
@import "dateSelector.scss";
@import "svg.scss";
@import "table.scss";

/* Field
-----------------------------------------------------------------------------------------------*/

.field
{
    display: block;
    vertical-align: middle;
    > .caption,
    > .value
    {
        /* display: inline-block; */
        /* vertical-align: middle; */
    }
    > .value > *
    {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }
    > .caption
    {
        font-weight: bold;
        margin-bottom: 3px;
    }    
}

/* XY
-----------------------------------------------------------------------------------------------*/
.xy
{
    cursor: default;
    /* border: #BBB solid 1px; */
    /* border-radius: 3px; */
    /* padding: 10px; */
    > .area
    {
        border: rgba(127, 127, 127, 0.1) solid 1px;
        cursor: default;
        width: 200px;
        height: 200px;
        overflow: hidden;
        > .x
        {
            border-right: #BBB solid 1px;
        }
        > .y
        {
            border-bottom: #BBB solid 1px;
        }
        > .move
        {
            cursor: default;
            /*width: 15px;*/
            /*height: 15px;*/
            border: #BBB solid 1px;
            border-radius: $borderRadius;
            /* background-color: rgba(0, 0, 0, 0.1); */
            :hover
                {
                /* background-color: rgba(0, 0, 0, 0.15); */
                /* box-shadow: 0px 0px 1px rgba(0,0,0,0.4), 0px 1px 1px rgba(0,0,0,0.4); */
            }
            :active
                {
                /* background-color: rgba(0, 0, 0, 0.08); */
                /* box-shadow: 0px 0px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2); */
            }  
        }
    }
}

/* Popup
-----------------------------------------------------------------------------------------------*/

.popup
{
    border: #BBB solid 1px;
    border-radius: $borderRadius + 1;
    padding: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 3px rgba(0,0,0,0.1);
    /* z-index: 1000; */
    -webkit-transition: height 1.0s ease-in-out;
    transition: height 1.0s ease-in-out;
}


/* SList
-----------------------------------------------------------------------------------------------*/

.slist
{
    > ul.menu
    {
        background-color: #FFF;
        /* background-color: rgb(89, 89, 148); */
        /* background-color: rgba(24, 24, 122, 0.6); */
        /* color: #FFF; */
        margin-bottom: 1px;
        > li
        {
            @include clickable;
            display: inline-block;
            padding: 10px 20px;
            /*-webkit-animation: 0.1s ease 0s normal none 1 running anim-bg-to-transparent;*/
            /*animation: 0.1s ease 0s normal none 1 running anim-bg-to-transparent;*/
            &:hover:not(.selected)
                {
                /*background-color: rgba(0, 0, 0, 0.1);*/
                border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
                padding-bottom: 9px;
            }
            &.selected
            {
                background-color: rgba(0, 0, 0, 0.1);
                /* background-color: rgba(255,255,255, 0.2); */
                -webkit-animation: 0.3s ease 0s normal none 1 running anim-bg-from-transparent;
                animation: 0.3s ease 0s normal none 1 running anim-bg-from-transparent;
            }
        }
    }
    > .scrollarea
    {
        > ul
        {
            > li
            {
                /* min-height: 199px; */
                margin-bottom: 1px;
                background-color: #FFF;
                /* background-color: #444; */
                /* color: #FFF; */
                > .caption
                {
                    font-size: 1.3em;
                    padding: 20px 20px 0px 20px;
                }
                > .content
                {
                    padding: 20px;
                }
            }
        }
    }
}

@-webkit-keyframes anim-bg-to-transparent 
{
    from 
    {
        background-color: rgba(0, 0, 0, 0.1);
        // background-color: inherit;
    }
    to 
    {
        background-color: transparent;
    }
}
@keyframes anim-bg-to-transparent 
{
    from 
    {
        background-color: rgba(0, 0, 0, 0.1);
        //background-color: inherit;
    }
    to 
    {
        background-color: transparent;
    }
}

@-webkit-keyframes anim-bg-from-transparent 
{
    from 
    {
        background-color: transparent;
    }
    to 
    {
        /*background-color: rgba(0, 0, 0, 0.1);*/
    }
}
@keyframes mymove 
{
    from 
    {
        background-color: anim-bg-from-transparent;
    }
    to 
    {
        /*background-color: rgba(0, 0, 0, 0.1);*/
    }
}











/* Hint
-----------------------------------------------------------------------------------------------*/
[data-title]:hover::before 
{
    content: attr(data-title); /* ?????????????? ?????????? */
    position: absolute; /* ???????????????????? ???????????????????????????????? */
    /*opacity: 0.9;*/
    z-index: 100; /* ???????????????????? ?????????????????? ???????????? ???????????? ?????????????????? */
    /*background: #FFFFFF;   ???????????????????????????? ???????? ???????? */
    background: rgba(255,255,255,0.9);  /* ???????????????????????????? ???????? ???????? */
    font-family: Arial, sans-serif; /* ?????????????????? ???????????? */
    font-size: 12px;  /*???????????? ???????????? ?????????????????? */
    font-weight: normal;
    margin-left: 0px; /* ???????????? */
    margin-top: 30px; /* ???????????? */
    padding: 1px 5px; /* ???????? */
    color: #114499;
    /*clip:rect(0px,200px,200px,0px);*/
    /*max-width: 200px;*/
    /*word-wrap: normal;*/
    border: 1px solid #D0D0D0; /*?????????????????? ?????????? */
    /*border: 1px dotted #114499;  ?????????????????? ?????????? */
    border-radius: $borderRadius;
    animation: title_anim 1s 1;
    -moz-animation: title_anim 1s 1;
    -webkit-animation: title_anim 1s 1;
    animation-timing-function:ease-in-out;
    -moz-animation-timing-function:ease-in-out;
    -webkit-animation-timing-function:ease-out;
}
@keyframes title_anim 
{
    0% {opacity: 0; margin-top: 20px;}
    70% {opacity: 0; margin-top: 20px;}
    100% {opacity: 1; margin-top: 30px;}
}
@-moz-keyframes title_anim 
{
    0% {opacity: 0; margin-top: 20px;}
    70% {opacity: 0; margin-top: 20px;}
    100% {opacity: 1; margin-top: 30px;}
}
@-webkit-keyframes title_anim 
{
    0% {opacity: 0; margin-top: 20px;}
    70% {opacity: 0; margin-top: 20px;}
    100% {opacity: 1; margin-top: 30px;}
}


.scale
{
    position: relative; 
    padding: 0px 11px;
    /*padding: 0px 11px 10px 11px;*/
    box-sizing: border-box;
    color: #363696;
    font-size: 0.8em;
    > canvas
    {
      position: absolute;
      top: 0px;
    }
    > .val
    {
        margin-top: -3px;
    }
}
