/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.02.2016, 16:24:14
    Author     : anatol
*/

@charset "utf-8";
@import "_constants.scss";

/* Button
-----------------------------------------------------------------------------------------------*/
.button
{
    @include clickable;
    @include clickableUp;
    border-radius: $borderRadius;
    font-size: 1em;
    text-align: center;
    text-decoration: blink;
    font-weight: bold;
    color: #363696;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1px;
    &:hover
        {
        border-color: #C3C3C3;
        color: #00008B;
        @include clickableUpHover;
    }
    &:active
        {
        @include clickableUpActive;
    }
    &.selected
    {
        @include clickableDown;
        background-color: rgba(255,255,255,0.6);
        &:hover
            {
            @include clickableDownHover;
        }
        &:active
            {
            @include clickableDownActive;
        }
    }
    &.success
    {
        background-color: #0AA75F;
        color: #FFF;
        &.selected
        {
            background-color: rgb(68, 202, 140);
        }
    }
    &.warning
    {
        background-color: #D22F2F;
        color: #FFF;
        &.selected
        {
            background-color: rgb(228, 104, 104);
        }
    }
}
@mixin buttonSize($padding)
{
    padding: $padding;
}

/* Button small
-----------------------------------------------------------------------------------------------*/
.button.small
{
    @include buttonSize(0px 4px);
}
/* Button medium
-----------------------------------------------------------------------------------------------*/
.button,
.button.medium
{
    @include buttonSize(4px 9px);
}
/* Button large
-----------------------------------------------------------------------------------------------*/
.button.large
{
    @include buttonSize(9px 19px);
}
/* Buttons
-----------------------------------------------------------------------------------------------*/
.buttons > .button
{
    display: inline-block;
}
