/* 
    Calendar
    Created on : 29.01.2016, 17:46:32
    Author     : anatol
*/
@charset "utf-8";
@import "_constants.scss";

/* Calendar
   -----------------------------------------------------------------------------------------------*/
.calendar
{
    > .prev,
    > .next,
    > .level,
    > .year
    {
        display: inline-block;
        text-align: center;
        cursor: default;
    }
    > table
    {
        border-collapse: collapse;
        > tr > td
        {
            background-color: rgba(0, 0, 0, 0);
            $s-bg : 2s;
            -webkit-transition: background-color $s-bg ease;
            -moz-transition: background-color $s-bg ease;
            -o-transition: background-color $s-bg ease;
            transition: background-color $s-bg ease;

            &.selected
            {

                font-weight: bolder;
                background-color: rgba(0, 0, 0, 0.1);
                /*                
                                -webkit-animation: background-color $s-bg ease 0s normal none 1 running anim-bg-to-transparent;
                                -moz-transition: background-color $s-bg ease 0s normal none 1 running anim-bg-to-transparent;
                                -o-transition: background-color $s-bg ease 0s normal none 1 running anim-bg-to-transparent;
                                animation: $s-bg ease 0s normal none 1 running anim-bg-to-transparent;*/
            }
            &.current:before
                {
                content: " ";
                display: block;
                position: absolute;
                border-radius: $borderRadius;
                border: gray dotted 1px;
                box-sizing: border-box;
            }
            &.prev,
            &.next
            {
                color: silver;
            }
        }
    }
    > .level,
    > .prev,
    > .next,
    > table > tr > th,
    > table > tr > td
    {
        @include clickable;
        border-radius: $borderRadius;
        font-weight: normal;
        font-size: 1em;
        text-align: center;
        position: relative;
    }
    > .prev:hover,
        > .next:hover,
        > .level.days:hover,
        > .level.months:hover,
        > table > tr > td:hover
        {
        @include clickableUpHover;
    }
    > .prev:active,
        > .next:active,
        > .level.days:active,
        > .level.months:active,
        > table > tr > td:active
        {
        @include clickableUpActive;
    }
}

@mixin calendarSize($width, $padding, $dayDH, $monthDH, $yearDH)
{
    $dayWidth : $width / 7;
    $dayHeight : $dayWidth;
    $monthWidth : $width / 4;
    $monthHeight : $monthWidth;
    $yearWidth : $width / 4;
    $yearHeight : $yearWidth;

    width: $width; 

    > .prev,
    > .next,
    > .level,
    > .year
    {
        padding: $padding;
    }
    > .level
    {
        width: $width - $dayWidth * 2;
    }
    > .prev,
    > .next
    {
        width: $dayWidth;
    }
    > table
    {
        &.days
        {
            > tr > th
            {
                width: $dayWidth;
                height: $dayHeight;
            }
            > tr > td
            {
                width: $dayWidth;
                height: $dayHeight;
                &.current:before
                    {
                    width: $dayWidth;
                    height: $dayHeight;
                    margin-top: $dayDH;
                }
            }
        }
        &.months
        {
            margin-top: $dayHeight;
            > tr > td
            {
                width: $monthWidth;
                height: $monthHeight;
                &.current:before
                    {
                    width: $monthWidth;
                    height: $monthHeight;
                    margin-top: $monthDH;
                }
            }
        }
        &.years > tr > td.current:before
            {
            width: $yearWidth;
            height: $yearHeight;
            margin-top: $yearDH;
        }
    }
}

/* Calendar small
-----------------------------------------------------------------------------------------------*/
.calendar.small
{
    @include calendarSize(140px, 1px 0px, -1px, -8px, -8px);
}

/* Calendar medium
-----------------------------------------------------------------------------------------------*/
.calendar,
.calendar.medium
{
    @include calendarSize(168px, 3px 0px, -3px, -12px, -12px);
}

/* Calendar large
-----------------------------------------------------------------------------------------------*/
.calendar.large
{
    @include calendarSize(196px, 5px 0px, -5px, -15px, -15px);
}
