/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.02.2016, 10:47:12
    Author     : anatol
*/
@charset "utf-8";
@import "_constants.scss";

.dateSelector
{
    position: relative;
    > imput
    {
        display: inline-block;
    }
    > .button
    {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 1px;
        padding: 5px 5px;
        width: 16px;
        height: 16px;
        border-radius: $borderRadius - 1px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
        fill: rgba(0, 0, 139, 0.6);
        &:hover
            {
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
            fill: rgba(0, 0, 139, 0.8);
        }
        &:active
            {
            @include clickableDownActive;
        }
        &.selected
        {
            @include clickableDown;
            fill: rgba(0, 0, 139, 0.8);
        }
    }
}