/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.09.2015, 11:22:10
    Author     : anatol
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.02.2016, 16:24:14
    Author     : anatol
*/
/*$main-color : #C3C3C3;*/
/* Button
-----------------------------------------------------------------------------------------------*/
.button {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  -moz-transition: background-color 0.3s ease, -moz-box-shadow 0.3s ease;
  -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 1em;
  text-align: center;
  text-decoration: blink;
  font-weight: bold;
  color: #363696; }
  .button:hover {
    -webkit-transition: background-color 0.2s ease, -webkit-box-shadow 0s ease;
    -moz-transition: background-color 0.2s ease, -moz-box-shadow 0s ease;
    -o-transition: background-color 0.2s ease, box-shadow 0s ease;
    transition: background-color 0.2s ease, box-shadow 0s ease; }
  .button:hover {
    border-color: #C3C3C3;
    color: #00008B;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.4); }
  .button:active {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2); }
  .button.selected {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
    background-color: rgba(255, 255, 255, 0.5); }
    .button.selected :hover {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4) inset, 0px 1px 1px rgba(0, 0, 0, 0.4) inset; }
    .button.selected :active {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.2) inset; }
  .button.success {
    background-color: #0AA75F;
    color: #FFF; }
    .button.success.selected {
      background-color: #44ca8c; }
  .button.warning {
    background-color: #D22F2F;
    color: #FFF; }
    .button.warning.selected {
      background-color: #e46868; }

/* Button small
-----------------------------------------------------------------------------------------------*/
.button.small {
  padding: 0px 5px; }

/* Button medium
-----------------------------------------------------------------------------------------------*/
.button,
.button.medium {
  padding: 5px 10px; }

/* Button large
-----------------------------------------------------------------------------------------------*/
.button.large {
  padding: 10px 20px; }

/* Buttons
-----------------------------------------------------------------------------------------------*/
.buttons > .button {
  display: inline-block;
  margin: 5px 0px 5px 5px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.02.2016, 18:15:01
    Author     : anatol
*/
/*$main-color : #C3C3C3;*/
/* Input, Select, Textarea
-----------------------------------------------------------------------------------------------*/
input,
select,
textarea {
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: #C3C3C3 solid 1px;
  border-radius: 2px; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: rgba(0, 127, 255, 0.7) auto 5px;
    outline-offset: -2px; }
  input.invalid,
  select.invalid,
  textarea.invalid {
    outline: red auto 5px;
    outline-offset: -2px; }

/* Input, Select small
-----------------------------------------------------------------------------------------------*/
input.small,
textarea.small {
  padding: 2px 5px; }

select.small {
  padding: 1px 3px; }

/* Input, Select medium
-----------------------------------------------------------------------------------------------*/
input,
textarea,
input.medium,
textarea.medium {
  padding: 6px 10px; }

select,
select.medium {
  padding: 5px 8px; }

/* Input, Select large
-----------------------------------------------------------------------------------------------*/
input.large,
textarea.large {
  padding: 11px 20px; }

select.large {
  padding: 10px 18px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.02.2016, 16:44:16
    Author     : anatol
*/
/*$main-color : #C3C3C3;*/
/* Progress
-----------------------------------------------------------------------------------------------*/
.progress {
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.2); }
  .progress.horisontal {
    height: 4px;
    width: 100px; }
  .progress.vertical {
    height: 100px;
    width: 4px; }
  .progress > .value {
    background-color: #888; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.02.2016, 16:46:47
    Author     : anatol
*/
/*$main-color : #C3C3C3;*/
/* Scroll
-----------------------------------------------------------------------------------------------*/
.scroll {
  border: rgba(128, 128, 128, 0.2) solid 1px;
  box-sizing: border-box; }
  .scroll.horisontal {
    height: 8px;
    width: 100px; }
  .scroll.vertical {
    height: 100px;
    width: 8px; }
  .scroll > .drag {
    border: #FFF solid 2px;
    background-color: #888;
    box-sizing: border-box; }
  .scroll:hover, .scroll.move {
    border-color: #C3C3C3; }
    .scroll:hover > .drag, .scroll.move > .drag {
      border-width: 1px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.02.2016, 17:18:49
    Author     : anatol
*/
/*$main-color : #C3C3C3;*/
/* Range
-----------------------------------------------------------------------------------------------*/
.range {
  border: rgba(128, 128, 128, 0.2) solid 1px;
  box-sizing: border-box; }
  .range > .drag {
    border: #C3C3C3 solid 1px;
    border-radius: 2px;
    background-color: #FFF; }
    .range > .drag > .value {
      display: none;
      position: absolute;
      z-index: 12;
      background-color: #FFF;
      border: #C3C3C3 solid 1px;
      border-radius: 2px;
      line-height: 1em;
      padding: 1px 4px 0px; }
  .range > .line {
    background-color: rgba(24, 24, 122, 0.6); }
  .range.horisontal {
    height: 8px;
    width: 100px;
    padding: 0px 5px; }
    .range.horisontal > .drag {
      height: 16px;
      width: 10px;
      padding-top: 0px;
      margin-top: -6px; }
      .range.horisontal > .drag.min {
        margin-left: -6px; }
        .range.horisontal > .drag.min > .value {
          right: 0px;
          top: -17px; }
      .range.horisontal > .drag.max {
        margin-left: 6px; }
        .range.horisontal > .drag.max > .value {
          left: 0px;
          top: -17px; }
    .range.horisontal > .line {
      height: 100%;
      margin: 0px 1px; }
  .range.vertical {
    height: 100px;
    width: 8px;
    padding: 5px 0px; }
    .range.vertical > .drag {
      height: 10px;
      width: 16px;
      padding-top: 0px;
      margin-left: -6px; }
      .range.vertical > .drag.min {
        margin-top: -6px; }
        .range.vertical > .drag.min > .value {
          left: 18px;
          top: -5px; }
      .range.vertical > .drag.max {
        margin-top: 6px; }
        .range.vertical > .drag.max > .value {
          left: 18px;
          top: 0px; }
    .range.vertical > .line {
      width: 100%;
      margin: 1px 0px; }
  .range:hover, .range.move {
    background-color: #FFF;
    border-color: #C3C3C3; }
    .range:hover > .drag, .range.move > .drag {
      border-color: #888; }
      .range:hover > .drag > .value, .range.move > .drag > .value {
        /*-webkit-transition: display 1.0s ease-in-out;*/
        /*transition: display 1.0s ease-in-out;*/
        display: block; }

/* 
    Calendar
    Created on : 29.01.2016, 17:46:32
    Author     : anatol
*/
/*$main-color : #C3C3C3;*/
/* Calendar
   -----------------------------------------------------------------------------------------------*/
.calendar > .prev,
.calendar > .next,
.calendar > .level,
.calendar > .year {
  display: inline-block;
  text-align: center;
  cursor: default; }
.calendar > table {
  border-collapse: collapse; }
  .calendar > table > tr > td {
    background-color: transparent;
    -webkit-transition: background-color 2s ease;
    -moz-transition: background-color 2s ease;
    -o-transition: background-color 2s ease;
    transition: background-color 2s ease; }
    .calendar > table > tr > td.selected {
      font-weight: bolder;
      background-color: rgba(0, 0, 0, 0.1);
      /*                
                      -webkit-animation: background-color $s-bg ease 0s normal none 1 running anim-bg-to-transparent;
                      -moz-transition: background-color $s-bg ease 0s normal none 1 running anim-bg-to-transparent;
                      -o-transition: background-color $s-bg ease 0s normal none 1 running anim-bg-to-transparent;
                      animation: $s-bg ease 0s normal none 1 running anim-bg-to-transparent;*/ }
    .calendar > table > tr > td.current:before {
      content: " ";
      display: block;
      position: absolute;
      border-radius: 2px;
      border: gray dotted 1px;
      box-sizing: border-box; }
    .calendar > table > tr > td.prev, .calendar > table > tr > td.next {
      color: silver; }
.calendar > .level,
.calendar > .prev,
.calendar > .next,
.calendar > table > tr > th,
.calendar > table > tr > td {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  -moz-transition: background-color 0.3s ease, -moz-box-shadow 0.3s ease;
  -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 2px;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  position: relative; }
  .calendar > .level:hover,
  .calendar > .prev:hover,
  .calendar > .next:hover,
  .calendar > table > tr > th:hover,
  .calendar > table > tr > td:hover {
    -webkit-transition: background-color 0.2s ease, -webkit-box-shadow 0s ease;
    -moz-transition: background-color 0.2s ease, -moz-box-shadow 0s ease;
    -o-transition: background-color 0.2s ease, box-shadow 0s ease;
    transition: background-color 0.2s ease, box-shadow 0s ease; }
.calendar > .prev:hover,
.calendar > .next:hover,
.calendar > .level.days:hover,
.calendar > .level.months:hover,
.calendar > table > tr > td:hover {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.4); }
.calendar > .prev:active,
.calendar > .next:active,
.calendar > .level.days:active,
.calendar > .level.months:active,
.calendar > table > tr > td:active {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2); }

/* Calendar small
-----------------------------------------------------------------------------------------------*/
.calendar.small {
  width: 140px; }
  .calendar.small > .prev,
  .calendar.small > .next,
  .calendar.small > .level,
  .calendar.small > .year {
    padding: 1px 0px; }
  .calendar.small > .level {
    width: 100px; }
  .calendar.small > .prev,
  .calendar.small > .next {
    width: 20px; }
  .calendar.small > table.days > tr > th {
    width: 20px;
    height: 20px; }
  .calendar.small > table.days > tr > td {
    width: 20px;
    height: 20px; }
    .calendar.small > table.days > tr > td.current:before {
      width: 20px;
      height: 20px;
      margin-top: -1px; }
  .calendar.small > table.months {
    margin-top: 20px; }
    .calendar.small > table.months > tr > td {
      width: 35px;
      height: 35px; }
      .calendar.small > table.months > tr > td.current:before {
        width: 35px;
        height: 35px;
        margin-top: -8px; }
  .calendar.small > table.years > tr > td.current:before {
    width: 35px;
    height: 35px;
    margin-top: -8px; }

/* Calendar medium
-----------------------------------------------------------------------------------------------*/
.calendar,
.calendar.medium {
  width: 168px; }
  .calendar > .prev,
  .calendar > .next,
  .calendar > .level,
  .calendar > .year,
  .calendar.medium > .prev,
  .calendar.medium > .next,
  .calendar.medium > .level,
  .calendar.medium > .year {
    padding: 3px 0px; }
  .calendar > .level,
  .calendar.medium > .level {
    width: 120px; }
  .calendar > .prev,
  .calendar > .next,
  .calendar.medium > .prev,
  .calendar.medium > .next {
    width: 24px; }
  .calendar > table.days > tr > th,
  .calendar.medium > table.days > tr > th {
    width: 24px;
    height: 24px; }
  .calendar > table.days > tr > td,
  .calendar.medium > table.days > tr > td {
    width: 24px;
    height: 24px; }
    .calendar > table.days > tr > td.current:before,
    .calendar.medium > table.days > tr > td.current:before {
      width: 24px;
      height: 24px;
      margin-top: -3px; }
  .calendar > table.months,
  .calendar.medium > table.months {
    margin-top: 24px; }
    .calendar > table.months > tr > td,
    .calendar.medium > table.months > tr > td {
      width: 42px;
      height: 42px; }
      .calendar > table.months > tr > td.current:before,
      .calendar.medium > table.months > tr > td.current:before {
        width: 42px;
        height: 42px;
        margin-top: -12px; }
  .calendar > table.years > tr > td.current:before,
  .calendar.medium > table.years > tr > td.current:before {
    width: 42px;
    height: 42px;
    margin-top: -12px; }

/* Calendar large
-----------------------------------------------------------------------------------------------*/
.calendar.large {
  width: 196px; }
  .calendar.large > .prev,
  .calendar.large > .next,
  .calendar.large > .level,
  .calendar.large > .year {
    padding: 5px 0px; }
  .calendar.large > .level {
    width: 140px; }
  .calendar.large > .prev,
  .calendar.large > .next {
    width: 28px; }
  .calendar.large > table.days > tr > th {
    width: 28px;
    height: 28px; }
  .calendar.large > table.days > tr > td {
    width: 28px;
    height: 28px; }
    .calendar.large > table.days > tr > td.current:before {
      width: 28px;
      height: 28px;
      margin-top: -5px; }
  .calendar.large > table.months {
    margin-top: 28px; }
    .calendar.large > table.months > tr > td {
      width: 49px;
      height: 49px; }
      .calendar.large > table.months > tr > td.current:before {
        width: 49px;
        height: 49px;
        margin-top: -15px; }
  .calendar.large > table.years > tr > td.current:before {
    width: 49px;
    height: 49px;
    margin-top: -15px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.02.2016, 10:47:12
    Author     : anatol
*/
/*$main-color : #C3C3C3;*/
.dateSelector {
  position: relative; }
  .dateSelector > imput {
    display: inline-block; }
  .dateSelector > .button {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 1px;
    padding: 4px 7px;
    border-radius: 1px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1); }
    .dateSelector > .button:hover {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4); }
    .dateSelector > .button:active {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.2) inset; }
    .dateSelector > .button.selected {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.2) inset; }

/* Field
-----------------------------------------------------------------------------------------------*/
.field {
  display: block;
  vertical-align: middle; }
  .field > .caption,
  .field > .value {
    /* display: inline-block; */
    /* vertical-align: middle; */ }
  .field > .value > * {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }
  .field > .caption {
    font-weight: bold;
    margin-bottom: 3px; }

/* XY
-----------------------------------------------------------------------------------------------*/
.xy {
  cursor: default;
  /* border: #BBB solid 1px; */
  /* border-radius: 3px; */
  /* padding: 10px; */ }
  .xy > .area {
    border: rgba(127, 127, 127, 0.1) solid 1px;
    cursor: default;
    width: 200px;
    height: 200px;
    overflow: hidden; }
    .xy > .area > .x {
      border-right: #BBB solid 1px; }
    .xy > .area > .y {
      border-bottom: #BBB solid 1px; }
    .xy > .area > .move {
      cursor: default;
      /*width: 15px;*/
      /*height: 15px;*/
      border: #BBB solid 1px;
      border-radius: 2px;
      /* background-color: rgba(0, 0, 0, 0.1); */ }
      .xy > .area > .move :hover {
        /* background-color: rgba(0, 0, 0, 0.15); */
        /* box-shadow: 0px 0px 1px rgba(0,0,0,0.4), 0px 1px 1px rgba(0,0,0,0.4); */ }
      .xy > .area > .move :active {
        /* background-color: rgba(0, 0, 0, 0.08); */
        /* box-shadow: 0px 0px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.2); */ }

/* Popup
-----------------------------------------------------------------------------------------------*/
.popup {
  border: #BBB solid 1px;
  border-radius: 3px;
  padding: 10px;
  background-color: #FFF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.1);
  /* z-index: 1000; */
  -webkit-transition: height 1.0s ease-in-out;
  transition: height 1.0s ease-in-out; }

/* SList
-----------------------------------------------------------------------------------------------*/
.slist > ul.menu {
  background-color: #FFF;
  /* background-color: rgb(89, 89, 148); */
  /* background-color: rgba(24, 24, 122, 0.6); */
  /* color: #FFF; */
  margin-bottom: 1px; }
  .slist > ul.menu > li {
    -webkit-animation: 0.1s ease 0s normal none 1 running anim-bg-to-transparent;
    animation: 0.1s ease 0s normal none 1 running anim-bg-to-transparent;
    display: inline-block;
    padding: 10px 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*-webkit-animation-duration: 1s;*/
    /* animation-duration: 1s; */
    /* transition-property: background-color; */
    /* animation: 2s ease 0s normal none 1 running mymove; */
    /* animation: 1s ease 2s normal none 1; */ }
    .slist > ul.menu > li :hover:not(.selected) {
      /*background-color: rgba(0, 0, 0, 0.1);*/
      border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
      padding-bottom: 9px; }
    .slist > ul.menu > li .selected {
      background-color: rgba(0, 0, 0, 0.1);
      /* background-color: rgba(255,255,255, 0.2); */
      -webkit-animation: 0.3s ease 0s normal none 1 running anim-bg-from-transparent;
      animation: 0.3s ease 0s normal none 1 running anim-bg-from-transparent; }
.slist > .scrollarea {
  max-height: 400px; }
  .slist > .scrollarea > ul > li {
    /* min-height: 199px; */
    margin-bottom: 1px;
    background-color: #FFF;
    /* background-color: #444; */
    /* color: #FFF; */ }
    .slist > .scrollarea > ul > li > .caption {
      font-size: 1.3em;
      padding: 20px 20px 0px 20px; }
    .slist > .scrollarea > ul > li > .content {
      padding: 20px; }

@-webkit-keyframes anim-bg-to-transparent {
  from {
    background-color: rgba(0, 0, 0, 0.1); }
  to {
    background-color: transparent; } }
@keyframes anim-bg-to-transparent {
  from {
    background-color: rgba(0, 0, 0, 0.1); }
  to {
    background-color: transparent; } }
@-webkit-keyframes anim-bg-from-transparent {
  from {
    background-color: transparent; }
  to {
    /*background-color: rgba(0, 0, 0, 0.1);*/ } }
@keyframes mymove {
  from {
    background-color: anim-bg-from-transparent; }
  to {
    /*background-color: rgba(0, 0, 0, 0.1);*/ } }
/* Hint
-----------------------------------------------------------------------------------------------*/
[data-title]:hover::before {
  content: attr(data-title);
  /* ?????????????? ?????????? */
  position: absolute;
  /* ???????????????????? ???????????????????????????????? */
  /*opacity: 0.9;*/
  z-index: 100;
  /* ???????????????????? ?????????????????? ???????????? ???????????? ?????????????????? */
  /*background: #FFFFFF;   ???????????????????????????? ???????? ???????? */
  background: rgba(255, 255, 255, 0.9);
  /* ???????????????????????????? ???????? ???????? */
  font-family: Arial, sans-serif;
  /* ?????????????????? ???????????? */
  font-size: 12px;
  /*???????????? ???????????? ?????????????????? */
  font-weight: normal;
  margin-left: 0px;
  /* ???????????? */
  margin-top: 30px;
  /* ???????????? */
  padding: 1px 5px;
  /* ???????? */
  color: #114499;
  /*clip:rect(0px,200px,200px,0px);*/
  /*max-width: 200px;*/
  /*word-wrap: normal;*/
  border: 1px solid #D0D0D0;
  /*?????????????????? ?????????? */
  /*border: 1px dotted #114499;  ?????????????????? ?????????? */
  border-radius: 4px;
  animation: title_anim 1s 1;
  -moz-animation: title_anim 1s 1;
  -webkit-animation: title_anim 1s 1;
  animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-out; }

@keyframes title_anim {
  0% {
    opacity: 0;
    margin-top: 20px; }
  70% {
    opacity: 0;
    margin-top: 20px; }
  100% {
    opacity: 1;
    margin-top: 30px; } }
@-moz-keyframes title_anim {
  0% {
    opacity: 0;
    margin-top: 20px; }
  70% {
    opacity: 0;
    margin-top: 20px; }
  100% {
    opacity: 1;
    margin-top: 30px; } }
@-webkit-keyframes title_anim {
  0% {
    opacity: 0;
    margin-top: 20px; }
  70% {
    opacity: 0;
    margin-top: 20px; }
  100% {
    opacity: 1;
    margin-top: 30px; } }
.scale {
  /* position: relative; */
  padding: 0px 11px;
  box-sizing: border-box;
  color: #363696;
  font-size: 0.8em; }
  .scale > .val {
    margin-top: 2px; }

/*# sourceMappingURL=aUI.css.map */
